<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>

    <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->
    <mapping resource="models map/Consumo.hbm.xml"/>
    <mapping resource="models map/Produccion.hbm.xml"/>
    <mapping resource="models map/PuntoHistorico.hbm.xml"/>
    <mapping resource="models map/Usuario.hbm.xml"/>
    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>